.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
        
    img{
            width: 100%;
            height: 100px;
        }
    
 
    .info{
        padding: 10px 20px;
        
        h3{
            margin-bottom: 10px;
        }

        p{
            font-size: .8rem;
        }
    }

}